/* Universal Styles */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}

span, p, a, em, li, header, footer, nav {
  font-family: 'Chivo', sans-serif;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #116466;
}

.frn {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  padding: 1rem 1.5rem;
}

.fr {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.r4h {
  position: relative;
  top: 4rem;
  overflow: hidden;
}

.fc {
  display: flex;
  flex-flow: column;
}

.heading {
  text-align: center;
  font-weight: 700;
  margin-top: 2rem;
  color: #2C3531;
}

/* Navigation Section */
.nav {
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 5;
  background-color: #F5F5F5;
  border-bottom: 2px solid #2C3531;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.logo {
  font-size: 2rem;
}

.logo span {
  font-weight: 200;
  color: #2C3531;
}

.logo img {
  display: inline-block;
  height: 2rem;
}

.navbar ul li {
  padding-right: 1rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 2.5rem;
  }

  .logo,
  .navbar {
    display: none;
  }
}

/* Section 2 */
.section-2 {
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 2rem 1.5rem;
  background-color: #FFCB9A;
}

.hero-img {
  max-width: 60%;
  overflow: hidden;
  display: inline-block;
}

.hero-img img {
  max-width: 100%;
  display: inline;
  border-radius: 4px;
}

.hero-info {
  width: 30%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  color: #2C3531;
}

.hero-info h5,
.hero-info div {
  margin-top: 2rem;
}

.cta {
  background-color: #116466;
  color: #F5F5F5;
  padding: 0.5rem;
  text-align: center;
  width: 60%;
  border-radius: 4px;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .section-2 {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
  }

  .hero-img {
    max-width: 100%;
  }

  .hero-info {
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
    text-align: center;
  }

  .cta {
    width: 70%;
  }

  .hero-info h5 {
    margin-top: 2rem;
  }

  .hero-info div {
    margin-top: 1.5rem;
  }
}

/* Section 3 */
.section-3 {
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 2rem 1.5rem;
  border-top: 3px solid #00B9C2;
  background-color: #D1E8E2;
  color: #062D23;
}

/* Left Container */
.practice {
  display: inline-flex;
  flex-flow: column nowrap;
  max-width: 60%;
}

.practice-img {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

.practice-img img {
  max-width: 100%;
  display: inline;
  border-radius: 4px;
}

.practice-info h3 {
  padding: 2rem 0 1.5rem 0;
}

.practice-info span {
  padding: 2rem 0;
  display: block;
  color: #116466;
}

/* Right Container */
.campus {
  display: inline-flex;
  flex-flow: column wrap;
  max-width: 40%;
  border-left: 1px dotted #116466;
  margin-left: 1rem;
}

.rec {
  display: none;
}

.campus-details {
  flex-wrap: nowrap;
  padding: 0 1rem 1rem 0.75rem;
  max-width: 100%;
}

.campus-details img {
  border-radius: 4px;
}

.campus-details .sq {
  max-width: 35%;
}

.cd-box {
  max-width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-flow: column;
}

.cd-box p {
  padding: 1rem 0;
}

.cd-box a {
  color: #0645AD;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .campus {
    border-left: none;
    max-width: 100%;
    margin-left: 0;
    border-bottom: 1px dotted lightgray;
    margin-bottom: -1.5rem;
  }

  .practice {
    display: none;
  }

  .sq {
    display: none;
  }

  .campus-details {
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .campus-details .rec {
    max-width: 100%;
    display: block;
  }

  .cd-box {
    max-width: 100%;
    margin-top: 1rem;
  }
}

/* Section 4 */
.section-4 {
  flex-wrap: nowrap;
  padding: 2rem 4rem 0 4rem;
  max-width: 100%;
  border-top: 3px solid #116466;
  background-color: #D9B08C;
}

.heading {
  font-size: 1.75rem;
}

.courses-mobile {
  display: none;
}

.courses {
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin-top: 2rem;
}

.course-box {
  height: 16rem;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin: 0 2rem 2rem 0;
  border: 1px solid #2C3531;
  border-radius: 4px;
  /* border-top-left-radius: 4px; */
}

.course-box img,
.course-box.course-box-info {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-box-info {
  padding: 1rem;
  background-color: #F5F5F5;
  color: #2C3531;
  overflow: hidden;
}

.course-box-info p:nth-child(2) {
  padding: 0.5rem 0;
}

.course-box-info p {
  font-size: .8rem;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .section-4 {
    background-color: #D9B08C;
    padding: 0;
  }

  .courses {
    display: none;
  }

  .heading {
    margin: 0rem 0 2rem 0;
  }

  .courses-mobile {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0rem auto;
    margin-bottom: 2rem;
  }

  .subjects {
    max-width: 100%;
    padding: 1rem 0 1.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #D1E8E2;
    border-radius: 4px;
  }
}

/* Section 5 */
.section-5 {
  flex-wrap: wrap;
  border-top: 3px solid #116466;
  background-color: #D1E8E2;
  color: #2C3531;
}

.theses {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  overflow: hidden;
  padding: 1rem 0 0 1.5rem;
  margin-bottom: -5rem;
}

/* Left Container */
.t-left {
  max-width: 60%;
  height: auto;
  display: inline-block;
}

.t-left video {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.urban h5 {
  margin: 1.5rem 0 0.5rem 0;
}

/* Right Container */
.t-right {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40%;
  margin-left: 1.5rem;
}

.tr-box {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  height: 30%;
  border-radius: 4px;
}

.tr-box img {
  max-width: 35%;
  max-height: auto;
  padding: 1rem;
}

.thesis-info {
  max-width: 65%;
  height: auto;
  justify-content: center;
}

.thesis-info h5 {
  margin-bottom: 1rem;
}

#fisma {
  background-color: #D9B08C;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .t-left .urban,
  .t-right {
    display: none;
  }

  .heading {
    margin-top: 1rem;
  }

  .theses {
    padding: 0;
    margin: 0 0 1.5rem 0;
  }

  .t-left {
    max-width: 100%;
  }
}

/* Footer Section */
footer {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 3px solid #FFCB9A;
  position: relative;
  top: 4rem;
  background-color: #2C3531;
  color: #D1E8E2;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .tc {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
